*.css linguist-vendored
*.html linguist-vendored
assets/** linguist-vendored
img/** linguist-vendored
public/img/** linguist-vendored
public/assets/** linguist-vendored
md/** linguist-documentation
db.json linguist-vendored
.eslintrc.json linguist-vendored
.babelrc linguist-vendored
